---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";

import { SITE_DESCRIPTION } from "../../consts";

import Stat from './components/Stat.astro';

import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const pc = await getCollection('pc');
	return pc.map((i) => ({
		params: { slug: i.id },
		props: i,
	}));
}
type Props = CollectionEntry<'pc'>;

const char = Astro.props;

const box = "bg-white shadow-sm border border-slate-200 rounded-lg mb-2";

const baseText="text-base text-slate-600 mt-4 font-light"
const subtitle = "text-sm font-semibold text-slate-500 uppercase";
const tinytitle = "text-xs text-slate-500 uppercase";

const skills = Object.entries(char.data.skills);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title=`Character | ${char.data.name}` description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="header">
				<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-2">
					<div class=`flex flex-col p-6 ${box}`>
						<div class="overflow-hidden rounded-md flex justify-center items-center">
						  <img class="object-cover" src="https://avatar.iran.liara.run/public" alt="profile-picture" />
						</div>
						<div class="mt-2 text-center">
						  <h4 class="mb-1 text-xl font-semibold text-slate-800">
							{char.data.name} {char.data.lastName}
						  </h4>
						  <p
							class="text-sm font-semibold text-slate-500 uppercase">
							{char.data.race} {char.data.class}
						  </p>
						  <p class=`${baseText}`>LVL: {char.data.level} XP: {char.data.xp}</p>
						</div>
					</div>
					<div class=`p-6 col-span-2 ${box}`>
						<p class=`${baseText}`>{char.data.description}</p>
						<p class=`${baseText}`>{char.data.background}</p>
						<p class=`${subtitle} mt-6`>Features and Traits</p>
						<ul class=`${baseText}`>
							{char.data.flavor.featuresTraits.map(f => <li>{f}</li>)}
						</ul>
					</div>
				</div>
			</section>
			<section class="stats">
				<div class=`${box} grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 sm:gap-2 p-6`>
					<Stat name="Strength" stat={char.data.attributes.str} mod={char.data.attributes.str_mod} />
					<Stat name="Dexterity" stat={char.data.attributes.dex} mod={char.data.attributes.dex_mod} />
					<Stat name="Constitution" stat={char.data.attributes.con} mod={char.data.attributes.con_mod} />
					<Stat name="Wisdom" stat={char.data.attributes.wis} mod={char.data.attributes.wis_mod} />
					<Stat name="Intelligence" stat={char.data.attributes.int} mod={char.data.attributes.int_mod} />
					<Stat name="Charisma" stat={char.data.attributes.cha} mod={char.data.attributes.cha_mod} />
				</div>
			</section>
			<section class="inv">
				<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-2">
					<div class=`p-6 py-4 col-span-2 ${box}`>
						<div class=`grid grid-cols-3 gap-2`>
							<Stat name="Inspiration" stat={char.data.attributes.inspiration} showMod={false} size="xl"/>
							<Stat name="Proficiency" stat={char.data.attributes.proficiency} showMod={false} size="xl" />
							<Stat name="Passive Wisdom" stat={char.data.passiveWisdom} showMod={false} size="xl" />
						</div>
							<div class="character my-6 text-center">
								<div class="grid grid-rows-4 grid-cols-4 gap-1">
									<div class=`trinket1`>
										<p class={tinytitle}>trinket</p>
									</div>
									<div class=`head col-span-2 ${box} p-2`>
										<p class={tinytitle}>Head</p>
									</div>
									<div class=`trinket2`>
										<p class={tinytitle}>trinket</p>
									</div>
									<div class=`rightHand ${box} p-2`>
										<p class={tinytitle}>right hand</p>
									</div>
									<div class=`body col-span-2 ${box} p-2`>
										<p class={tinytitle}>body</p>
									</div>
									<div class=`leftHand ${box} p-2`>
										<p class={tinytitle}>left hand</p>
									</div>
									<div class=`back row-span-2`>
										<p class={tinytitle}>back</p>
									</div>
									<div class=`legs col-span-2 ${box} p-2`>
										<p class={tinytitle}>legs</p>
									</div>
									<div class=`offHand row-span-2`>
										<p class={tinytitle}>off-hand</p>
									</div>
									<div class=`feet col-span-2 ${box} p-2`>
										<p class={tinytitle}>feet</p>
									</div>
								</div>
							</div>
							<div class=`grid grid-cols-3 gap-2 mb-6`>
								<Stat name="Armor Class" stat={char.data.combat.armorClass} showMod={false} size="xl"/>
								<Stat name="Initiative" stat={char.data.combat.initiative} showMod={false} size="xl" />
								<Stat name="Speed" stat={char.data.combat.speed} showMod={false} size="xl" />
								<Stat name="HP" stat=`${char.data.combat.hp}/${char.data.combat.hp_max}` showMod={false} size="xl"/>
							</div>
							<div class=`${box} p-3`>
								<p class=`${subtitle}`>Attacks & Spellcasting</p>
								<ul class=`${baseText}`>
									{
										char.data.attacksSpells.map(as => <li>{as}</li>)
									}
								</ul>
							</div>
					</div>
					<div>
						<div class=`p-6 py-4 ${box}`>
							<p class={subtitle}>Skills</p>
							<ul>
								{
									skills.map((s) => <li class="mb-1"><p class="text-sm"><span class="text-md mb-0 font-semibold text-slate-800 rounded-lg px-3 py-2 border border-slate-200">{s[1]}</span> {s[0]}</p></li>)
								}
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="flavour grid sm:grid-cols-4 gap-1">
					<div class=`${box} p-3`>
						<p class=`${subtitle}`>Personality</p
						>
						<ul>
							{char.data.flavor.personality.map(f => <li class={baseText}>{f}</li>)}
						</ul>
					</div>
					<div class=`${box} p-3`>
						<p class=`${subtitle}`>Ideals</p>
						<ul>
							{char.data.flavor.ideals.map(f => <li class={`${baseText}`}>{f}</li>)}
						</ul>
					</div>
					<div class=`${box} p-3`>
						<p class=`${subtitle}`>Bonds</p>
						<ul>
							{char.data.flavor.bonds.map(f => <li class={`${baseText}`}>{f}</li>)}
						</ul>
					</div>
					<div class=`${box} p-3`>
						<p class=`${subtitle}`>Flaws</p>

						<ul>
							{char.data.flavor.flaws.map(f => <li class={`${baseText}`}>{f}</li>)}
						</ul>
					</div>
				</section>
			</section>
			<section>
				<div class=`${box} p-6`>
					<p class=`${subtitle}`>Money: {char.data.money}</p>
					<p class=`${subtitle}`>Inventory:</p>
					<ul>
						{char.data.equipment.map(e => <li>{e}</li>)}
					</ul>
				</div>
				<div class=`${box} p-6`>
					<p class=`${subtitle}`>Other Proficiencies and Languages</p>
					<p class=`${baseText}`>
						{char.data.otherProficienciesAndLanguages}
					</p>
				</div>
			</section>
		</main>
	</body>
</html>
