---
import Layout from '../../layouts/BlogPost.astro';
import { getCollection } from 'astro:content';

const props = Astro.props;

export async function getStaticPaths() {
	const glossary = await getCollection('glossary');
	const sections = [...new Set(glossary.map(g => g.id.substring(0, g.id.indexOf('/'))))];

	return sections.map((s) => ({
		params: { slug: s },
		props: {
			s,
			items: glossary.filter(g =>(g.id.substring(0, g.id.indexOf('/')) === s)),
		},
	}));
}
---

<Layout
	title=`Glossary | ${props.s}`
>
	<dl>
	{
		props.items.map(g => {

			const {id, word, definition, seeAlso} = g.data
			return (
				<dt id={id}>{word}</dt>
				<dd>
					<p>{definition}</p>
					{seeAlso && 'See Also: '}
					{seeAlso?.map(s => <a class="seealso" href={`/bleachflower/glossary${s.link}`}>{s.label}</a>)}
				</dd>
			);
		})
	}
	</dl>
</Layout>
<style>
	dt {
		margin-top: 1.2em;
		margin-bottom: 0.5em;
		font-weight: bold;
	}

	.seealso {
		margin-right: 0.3em;
		padding: 0.2em;
	}
</style>